name: Android Lint

permissions:
  contents: read
  security-events: write

env:
  # The name of the main module repository
  main_project_module: app

on:

  push:
    branches: [ main ]
  pull_request:
    types: [ opened, edited, reopened, review_requested, synchronize ]
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set Up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'corretto' # See 'Supported distributions' for available options
          java-version: '21'
          cache: 'gradle'

      - name: Change wrapper permissions
        run: chmod +x ./gradlew

      - name: Run Android Lint and generate SARIF report
        run: ./gradlew lintDebug

      - name: Upload SARIF report to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: app/build/reports/lint-results-debug.sarif
          category: android-lint
